@mixin page_shadow($size: 5px, $transparency: 0.05) {
	box-shadow: rgba(0,0,0,$transparency) 0 $size*2 0 $size*-1;
}

#book {
	margin: 0 auto;
	padding: 0;
	width: 640px;
	height: 360px;
	line-height: 0;
	position: relative;
	
	#loadingFlipbook {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($blue, 0.95);
		z-index: 20;
		
		&.loading {
			display: block;
		}
		
		h2 {
			margin: 160px 0 0 315px;
			text-align: left;
			color: $white;
			font-size: 20px;
			text-shadow: darken($blue, 10%) 0 -1px 0;
			font-weight: normal;
			
			&.loading .spinner {
				left: 0;
				border-color: #fff;
			}
		}
	}
	
	.onion {
		display: block;
		background-position: -66px -115px;
		position: absolute;
		top: 24px;
		left: 5px;
		z-index: 16;
		opacity: 0;
		display: none;
		@include transition(opacity, .3s, ease);
	}

}

#activePage {
	background: $white;
	border-radius: 2px;
	position: relative;
	z-index: 15;
	
	@include page_shadow();
	@include transition();
	@include transitionProperty(background, box-shadow)
}

#activePage.transform { cursor: -webkit-grab; cursor: -moz-grab; cursor: grab; }

#accountForms { display: none; }
.showAccountForms #accountForms {
	padding-top: 1.75em;
	background: $blue;
	height: 302px;
	display: block;
	position: absolute;
	top: 0;
	line-height: 1.5em;
	z-index: 20;
	
	form {
		width: 45%;
		float: left;
		vertical-align: top;
		height: 325px;
		
		&:first-child {
			padding-right: 4%;
			border-right: darken($blue, 10%) 1px solid;
		}
		&:last-child {
			padding-left: 4%;
			border-left: lighten($blue, 10%) 1px solid;
		}
		
		li {
			@include animation(showFormElement, .3s, linear, 0, 1, normal);
			
			&:nth-child(even)	{ @include timing(.3s); }
			&:nth-child(odd)	{ @include timing(.2s); }
			&:nth-child(3n+3)	{ @include timing(.3s); }
			&:nth-child(4n+4)	{ @include timing(.4s); }
		}
		
		fieldset ol li {
				
			&:first-child {
				padding-top: 1.5em;
			}
			
			input {
				padding-left: 5px;
				padding-right: 5px;
				width: 240px;
			}
		}
		
		.forgetmenot {
			
			label {
				padding: 0;
				
				input {
					padding: 0;
					width: 1.2em;
				}
			}
		}
		
		&.login-form {
			fieldset  {
				margin: 1.25em 0 0 0;
				
				legend {
					margin: 0 0 .75em 0;
					font-size: 1.5em;
					line-height: 1.4em;
				}
			}
		}
	}
}




/* PAGES */

#pageContainer {
	margin-top: -60px;
	padding-top: 40px;
	@include box-sizing(border-box);
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	
	&.loading {
		display: none;
	}

	#pages {
		position: absolute;
		left: 388px;
		width: 99999px;
		@include transition(left, .3s, ease-in-out);

		.page {
			padding: 20px 10px 0 10px;
			width: 640px;
			float: left;
			position: relative;
			z-index: 9;
			
			canvas {
				opacity: 1;
				float: left;
				cursor: pointer;
				background: #fff;
				position: relative;
				z-index: -1;
			}
			
			&.active canvas {
				opacity: 0;
			}
			
			&.adding, &.adding:hover {
				padding: 0;
				position: fixed;
				top: 0;
				left: 0;
				z-index: 999;
			}
			
			&.adding canvas {
				width: 640px;
				height: 360px;
				@include backfaceVisibility(hidden);
				@include transition($duration: .3s, $timing: ease-in);
				@include transitionProperty(width, height);
			}
			
			&.adding:hover .icon { display: none; }
		}

		&.playing {
			display: none;
		}
	}
}


#book.playing #playback {
	top: -9999px;
	@include animation(hidePlaybackControls, .1s, ease-in, 0, 1, normal);
}

@include keyframes(hidePlaybackControls) {
	0% {
		top: 0;
		opacity: 1;
	}
	
	100% {
		top: 0;
		opacity: 0;
	}
}

@include keyframes(showPlaybackControls) {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

#playback {
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	top: 0;
	z-index: 19;
	width: 100%;
	@include animation(showPlaybackControls, .05s, ease-in, 0, 1, normal);
	
	li {
		padding: 0;
		margin: 0;
		float: left;
		opacity: 0.95;
		
		&:first-child {
			border-right: 1px solid darken($blue, 10%);
		}
		
		&:last-child {
			border-left: 1px solid lighten($blue, 10%);
		}
		
		a {
			display: inline-block;
			border: solid $blue;
			
			&:hover {
				top: 0;
			}
			
			&#play {
				width: 76px;
				height: 82px;
				background-position: 0 0;
				border-top-width: 139px;
				border-bottom-width: 139px;
				border-left-width: 121px;
				border-right-width: 122px;
			}
			
			&#circleplay {
				width: 80px;
				height: 123px;
				background-position: -76px 0;
				border-top-width: 118px;
				border-bottom-width: 119px;
				border-left-width: 119px;
				border-right-width: 120px;
			}
		}
	}
	
	&.tablet li {
		border: none;
		
		a#play {
			border-left-width: 282px;
			border-right-width: 282px;
		}
	}
}

#info {
	margin: 0 0 2em 0;
	padding: 0 10px 1.5em 10px;
	border-bottom: #ccc 1px solid;
	float: left;
	width: 100%;
	@include box-sizing(border-box);
	
	.heading:only-child {
		padding-bottom: 0;
	}
	
	p {
		margin: 0;
		font-family: Arial, sans-serif;
		font-size: 1.5em;
		line-height: 1.333em;
		color: #444;
		text-shadow: #fff 0 1px 0;
	}
}

#tray {
	@include transition($duration: .25s);
	@include transitionProperty(border, margin);
	
	margin: 0 auto 1.5em auto;
	padding: 2em 0;
	position: relative;
	border-bottom: #ccc 1px solid;
	float: left;
	width: 100%;
	
	ul {
		margin: 0 1em;
		padding: 0;
		list-style: none;
		line-height: 0;
		display: block;
		
		li {
			position: relative;
			@include transition($property: bottom);
			
			&:nth-child(1) { @include transitionDuration(.2s); }
			&:nth-child(2) { @include transitionDuration(.4s); }
			&:nth-child(3) { @include transitionDuration(.3s); }
			&:nth-child(4) { @include transitionDuration(.6s); }
			&:nth-child(5) { @include transitionDuration(.2s); }
			&:nth-child(6) { @include transitionDuration(.5s); }
			&:nth-child(7) { @include transitionDuration(.3s); }
			&:nth-child(8) { @include transitionDuration(.4s); }
		}
	}
	
	.left, .left li {
		float: left;
	}
	
	.right {
		float: right;
		
		li {
			margin: 0 1em;
			display: inline-block;
			height: image-height("../images/icon/blank.png");
/* 			border-right: #d2d2d2 1px solid; */
			
			&:last-child {
				border-right: none;
			}
			
			a {
				display: inline-block;
				background-repeat: no-repeat;
				position: relative;
			}
			
			#duplicate {
				margin: -4px -4px 0 0;
			}
			
			#circleplay {
				margin-top: -8px;
				position: relative;
				bottom: -4px;
			}
		
			#play[class*=tool],
			#circleplay[class*=tool] {
				margin-top: 0;
				top: 0;
			}
		}
	}
	
	#tools {
		li {
			margin-left: 2em;
			position: relative;
			height: 2.5em;
			width: image-width("../images/icon/pencil.png");
			
			a {
				z-index: 1;
			}
		}
		
		#pencil, #eraser, #transform {
			float: left;
			position: absolute;
			@include transition($duration: .1s, $timing: ease-in-out);
			@include transitionProperty(bottom, left);
		}
		
		a {
			bottom: -10px;
		}
		
		#pencil, #eraser {
			&[class*=tool] {
				bottom: -60px;
			}
		}
		
		#transform {
			background: none;
			
			&[class*=tool] {
				bottom: -21px;
				
				.layer {
					opacity: 1;
				}
			}
			
			.layer {
				position: absolute;
				@include transform(rotate(-180deg));
				@include transformOrigin(50% 0%);
				bottom: -40px;
				opacity: 0;
				@include transition($duration: .3s, $timing: ease);
				-o-transition-property: -o-transform, opacity;
				-ms-transition-property: -ms-transform, opacity;
				-moz-transition-property: -moz-transform, opacity;
				-webkit-transition-property: -webkit-transform, opacity;
				transition-property: transform, opacity;
				
				&:nth-child(1) {
					width: 100%;
					height: 100%;
					@include transform(none);
					@include transition($property: none);
					bottom: 0;
					left: 0;
					opacity: 1;
					z-index: 2;
				}
				
				&:nth-child(3) {
					bottom: -45px;
					left: 15px;
				}
				
				&:nth-child(4) {
					left: 10px;
				}
			}
		}
	}
	
	#metadata {
		margin-top: .4em;
		
		li {
			color: #666;
			font-size: 2em;
			line-height: 1em;
			margin: 0 1em 0 0;
			
			[class*=icon] {
				margin: 2px 0 0 0;
				display: inline-block;
				vertical-align: top;
			}
			
			#twitter,
			#facebook {
				margin-top: -.2em;
			}
		}
	}
}

#tray #tools #transform[class*=tool] .layer:nth-child(2) {	@include transform(rotate(0deg)); }
#tray #tools #transform[class*=tool] .layer:nth-child(3) {	@include transform(rotate(-45deg)); }
#tray #tools #transform[class*=tool] .layer:nth-child(4) {	@include transform(rotate(-90deg)); }
/* */


#save {
	margin: 1.5em 0 5em 0;
	width: 100%;
	float: left;
	text-align: center;
	position: relative;
	top: 0;
	@include transition($timing: ease-in);
	@include transitionProperty(opacity, top);
	@include transform(translateZ(0)); // chrome nudges elements when transitioning opacity. this prevents it.
	
	span {
		margin: 1em 0 0 0;
		display: block;
		
		#draft {
			font-size: 1.2em;
			@include sansSerif();
			color: $gray;
			
			&:hover {
				color: $darkGray;
			}
		}
	}
}


/* ANIMATIONS */
@include keyframes(newPage) {
	0% {
		opacity: 1;
		@include transform( translate3d(1500px,-150px,0) rotate3d(180,180,-180,90deg) scale3d(1.5,1.5,1.5) );
	}
	
	40% {
		opacity: 1;
		@include transform( translate3d(-10px,2px,0) rotate3d(0,0,0,.5deg) scale3d(1,1,1) );
	}
	
	60% {
		opacity: 1;
		@include transform( translate3d(4px,-1px,0) rotate3d(0,0,0,0deg) scale3d(1,1,1) );
	}
	
	80%, 100% {
		opacity: 1;
		@include transform( translate3d(0,0,0) rotate3d(0,0,0,0deg) scale3d(1,1,1) );
	}
}

@include keyframes(deletePage) {
	0% {
		background: $white;
		z-index: 20;
		opacity: 1;
		position: fixed;
		@include transform( translate3d(0,2px,0) rotate(0deg) scale3d(1,1,1) );
	}
	
	25% {
		background: $white;
		z-index: 20;
		opacity: 1;
		position: fixed;
		@include transform( translate3d(-10px,-50px,0) rotate(-10deg) scale3d(1,1,1) );
	}
	
	100% {
		background: $white;
		opacity: 1;
		position: fixed;
		z-index: 20;
		@include transform( translate3d(-200px,1000px,0) rotate(-170deg) scale3d(.5,.75,1) );
	}
}

@include keyframes(focusPrevThumb) {
	0% {
		opacity: 1;
		z-index: 10;
		@include transform( translate3d(0,0,0) rotate(0deg) );
	}
	
	35% {
		opacity: 1;
		z-index: 10;
		@include transform( translate3d(680px,0,0) rotate(.5deg) );
	}
	
	55% {
		opacity: 1;
		z-index: 10;
		@include transform( translate3d(655px,0,0) rotate(-.25deg) );
		@include page_shadow($transparency: 0);
	}
	
	75%, 100% {
		opacity: 1;
		z-index: 10;
		@include transform( translate3d(660px,0,0) rotate(0deg) );
		@include page_shadow();
	}
}

@include keyframes(focusNextThumb) {
	0% {
		opacity: 1;
		@include transform( translate3d(0,0,0) rotate(0deg) );
	}
	
	35% {
		opacity: 1;
		@include transform( translate3d(-680px,0,0) rotate(-.5deg) );
	}
	
	55% {
		opacity: 1;
		@include transform( translate3d(-655px,0,0) rotate(.25deg) );
		@include page_shadow($transparency: 0);
	}
	
	75%, 100% {
		opacity: 1;
		@include transform( translate3d(-660px,0,0) rotate(0deg) );
		@include page_shadow();
	}
}

@include keyframes(newPageIcon) {
	0% {
		opacity: 1;
		@include transform( translate3d(0,0,0) rotate3d(0,0,0,0deg) scale3d(1,1,1) );
		@include page_shadow();
	}
	
	40% {
		opacity: 1;
		@include transform( translate3d(-680px,-15px,0) rotate3d(1,1,-1,-1deg) scale3d(1.01,1.01,1) );
		@include page_shadow($transparency: 0);
	}
	
	60% {
		opacity: 1;
		@include transform( translate3d(-656px,3px,0) rotate3d(0,0,0,0deg) scale3d(1,1,1) );
	}
	
	80%, 100% {
		opacity: 1;
		@include transform( translate3d(-660px,0,0) rotate3d(0,0,0,0deg) scale3d(1,1,1) );
	}
}

@include keyframes(nudge) {
	0% {
		@include transform( translate3d(0,5px,0) rotate(0deg) );
	}
	
	20% {
		@include transform( translate3d(0,-2px,0) rotate(0deg) );
	}
	
	35% {
		@include transform( translate3d(0,1px,0) rotate(0deg) );
	}
	
	45%, 100% {
		@include transform( translate3d(0,0,0) rotate(0deg) );
	}
}

@include keyframes(fadeOut) {
	0% {
		opacity: 1;
	}
		
	40%, 100% {
		opacity: 0;
	}
}



/* */


/* SAVING */
#book #form, #svg {
	display: none;
}

.saving {
	
	#book #form {
		display: block;
		position: absolute;
		top: 0;
		line-height: 1.5em;
			
		li, legend, button {
			@include animation(showFormElement, .3s, linear, 0, 1, normal);
			
			&:nth-child(1) { @include timing(.3s); }
			&:nth-child(2) { @include timing(.2s); }
			&:nth-child(3) { @include timing(.3s); }
			&:nth-child(4) { @include timing(.4s); }
		}
		
		li {
			#description {
				height: 4.5em;
			}
			
			#nsfw {
				width: auto;
			}
			
			label[for=nsfw] {
				line-height: 0.1em;
			}
		}
		
		#submitAccount {
			margin-left: 2em;
			margin-right: 1em;
		}
	}
}

#content.loading {
	#tray {
		margin-top: -66px;
		
		li {
			bottom: 40px;
		}
	}
	
	#save {
		top: -150px;
	}
}

.saving, .drafting {

	#tray {
		border-color: rgba(0,0,0,0);
		
		#tools, ul.right {
			#pencil, #eraser, #transform, #circleplay, #play, #duplicate, #blank, #delete {
				bottom: 85px;
				@include animation(hideControls, .4s, ease-in, 0, 1, normal);
			}
			#pencil 	{ @include animationDuration(.5s); }
			#eraser 	{ @include animationDuration(.3s); }
			#transform 	{ @include animationDuration(.4s); }
			#circleplay { @include animationDuration(.3s); }
			#play 		{ @include animationDuration(.5s); }
			#duplicate 	{ @include animationDuration(.4s); }
			#blank 		{ @include animationDuration(.3s); }
			#delete 	{ @include animationDuration(.5s); }
			
			#pencil[class*=tool], #eraser[class*=tool], #transform[class*=tool] { @include animation(hideActiveControls, .4s, ease-in, 0, 1, normal); }
			
			.settings {
				display: none;
			}
		}
	}
	
	#save {
		top: -200px;
	}
	
	&.sending {
		#loadingFlipbook {
			display: block !important;
			background: none !important;
		}
		
		#book #form {
/* 			opacity: 0; */
			
			li, legend, button {
				opacity: 0;
				@include animation(hideFormElement, .3s, linear, 0, 1, normal);
				
				&:nth-child(1) { @include timing(.3s); }
				&:nth-child(2) { @include timing(.2s); }
				&:nth-child(3) { @include timing(.3s); }
				&:nth-child(4) { @include timing(.4s); }
			}
		}
	}
	
	#book:after {
		content: "";
		display: block;
		width: 640px;
		height: 360px;
		top: 0;
		left: 0;
		position: absolute;
		background: rgba($blue, 0.9);
		z-index: 16;
	}
	
	&.drafted #book {
		#loadingFlipbook h2 {
			color: darken($green, 50%);
			text-shadow: lighten($green, 20%) 0 1px 0;
			@include animation(showHeader, .4s, linear, 0, 1, normal);
		}
		
		&:after {
			@include transition($property: background);
			background: rgba($green, 0.9);
		}
	}
}

#save.no_save {
	opacity: 0;
	
	a {
		cursor: default;
	}
}

@include keyframes(hideControls) {
	0% {
		bottom: -15px;
	}
	
	10% {
		bottom: -25px
	}
		
	40%, 100% {
		bottom: 55px;
	}
}

@include keyframes(hideActiveControls) {
	0% {
		bottom: -40px;
	}
	
	10% {
		bottom: -50px
	}
		
	40%, 100% {
		bottom: 85px;
	}
}

@include keyframes(showControls) {
	0% {
		bottom: 55px;
	}
	
	30% {
		bottom: -25px
	}
		
	40%, 100% {
		bottom: -15px;
	}
}

@include keyframes(showFrameControls) {
	0% {
		bottom: 55px;
	}
	
	30% {
		bottom: -10px
	}
		
	40%, 100% {
		bottom: 0px;
	}
}

@include keyframes(showActiveControls) {
	0% {
		bottom: 85px;
	}
	
	30% {
		bottom: -50px
	}
		
	40%, 100% {
		bottom: -40px;
	}
}

/* */



/* REMOVE HIGHLIGHTING */
#logo::selection, #logo *::selection,
#left::selection, #left *::selection,
#book::selection, #book *::selection, 
#right::selection, #right *::selection,
.center::selection {
	background: rgba(0,0,0,0);
}




@media screen and (max-width: $mobileWidth) {
	#pageContainer {
		display: none !important;
		
		#pages {
			display: none !important;
			
			.page {
				display: none !important;
				
				canvas {
					display: none !important;
				}
			}
		}
	}
	
	#book {
		width: 100%;
		height: auto;
		
		#loadingFlipbook h2 {
			margin: 25% 0 0 48%;
			text-align: center;
		}
		
		#activePage {
			width: 100%;
		}
		
		#playback {
			height: 100%;
			background: $blue;
			opacity: .95;
			
			li {
				border: none;
				width: 100%;
				
				a {
					margin: 12% auto 0 auto;
					border: none;
					display: block;
					background-color: #fff;
					@include transform( scale3d(.5, .5, .5) );
					box-shadow: $blue 0 0 50px 50px;
				}
				
				&:last-child {
					display: none;
				}
			}
		}
		
		&.playing #playback {
			background-color: none;
		}
	}
	
	#tray {
		text-align: center;
		
		ul {
			display: inline-block;
			
			li {
				margin: 0 10px;
				display: inline-block;
			}
			
			&#metadata li {
				margin-right: 1em;
				
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	
	#info .heading h2 {
		padding-top: .35em;
		font-size: 2em;
	}
}











