@media print {
	body {
		background: #fff;
	}
	
	#header, #content {
		display: none;
	}
	
	#svg {
		display: block;
		height: 770px;
		
		svg {
			page-break-after: always;
			
			g[id="0"],
			g[id="1"],
			g[id="2"] {
				display: none;
			}
		}
	}
}