<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>create</title>
	<meta name="description" content="Create awesome flipbook animations">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">

	<meta property="og:title" content="create a flipbook"/>
	<meta property="og:image" content="/images/thumbcinema_logo@2x.png"/>
	<meta property="og:site_name" content="thumbcinema"/>
	<meta property="og:description" content="Create awesome flipbook animations"/>

	<link rel="stylesheet" type="text/css" href="/style/style.css">
	<link rel="stylesheet" type="text/css" href="/style/revival.css">
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">

	<script type="text/javascript" src="/script/lib/modernizr.custom.01537.js"></script>
	<script type="text/javascript" src="/script/general/browser-check.js"></script>
</head>

<body>

<div id="header"><div id="headerContainer">
	<ul id="nav" class="active">
		<li><a href="/"><img src="/images/thumbcinema_logo.png" width="319" height="103" alt="thumbcinema" id="logo" /></a></li>
		<li class="active"><a href="/create">create</a></li>
	</ul>

	<ul id="messages"></ul>
</div><div id="messagesBG"></div></div>

<div id="content">
	<div id="pageContainer"></div>

	<div class="center">
		<div id="book">
			<div id="loadingFlipbook"><h2 class="loading"><span class="spinner"></span></h2></div>
		</div>

		<div id="tray">
			<ul class="left" id="tools"></ul>
			<ul class="right"></ul>
		</div>
	</div>
</div>

<div id="svg" style="display: none;"></div>

<script type="text/template" id="recover">
	<div id="recover_container">
		<div class="center">
			<img src="/images/fail.png" width="201" height="176" />
			<h1>Something broke.</h1>
			<p>But don't worry, I'm recovering your beautiful work-in-progress as we speak. It'll be missing the page you're working on right now (sorry about that), but everything else should be tip top.</p>
			<p>Nothing was lost. If you'd like to give me a further piece of your mind you can do so via <a href="https://alexduckmanton.com" target="_blank" rel="noopener">my website</a>.</p>
			<a href="javascript:void(0)" class="button loading"><span class="copy">Recover flipbook</span><span class="spinner"></span></a>
		</div>
	</div>
</script>

<script type="text/template" id="save_form">
	<form id="flipbookDetails" action="return false;">
		<fieldset>
			<legend>Almost done...</legend>
			<ol>
				<li>
					<label for="title">Title</label>
					<input id="title" name="title" type="text" autocomplete="off" required>
				</li>

				<li>
					<label for="description">Description <span class="optional">(optional)</span></label>
					<textarea id="description" name="description"></textarea>
				</li>

				<li>
					<input type="checkbox" name="nsfw" id="nsfw" value="1" />
					<label for="nsfw" title="Use your best judgement. No harm in getting it wrong.">This flipbook contains adult stuff</label>
				</li>
			</ol>
		</fieldset>
		<fieldset>
			<% if ( !logged_in && !is_touch ){ %>
				<button type="submit" id="submitFlipbook"><span class="copy">Save anonymously</span><span class="spinner"></span></button>
				<button type="submit" id="submitAccount" class="blank">Save with account</button>
			<% } else { %>
				<button type="submit" id="submitFlipbook"><span class="copy">Save flipbook</span><span class="spinner"></span></button>
			<% } %>
			<button type="button" class="blank cancel">Cancel</button>
		</fieldset>
	</form>
</script>

<script type="text/javascript">
	var isCreate = true,
		templateURL = "/",
		rootURL = "/",
		is_logged_in = true;
	var _gaq = { push: function(){} };
</script>

<!-- libraries -->
<script type="text/javascript" src="/script/lib/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/script/lib/plugins/jquery.do-a-flip.js"></script>
<script type="text/javascript" src="/script/lib/underscore-min.js"></script>
<script type="text/javascript" src="/script/lib/backbone-min.js"></script>
<script type="text/javascript" src="/script/lib/paper.js"></script>
<script type="text/javascript" src="/script/lib/svg.min.js"></script>

<!-- flipbook -->
<script type="text/javascript" src="/script/Flipbook.js"></script>
<script type="text/javascript" src="/script/flip/social.js"></script>
<script type="text/javascript" src="/script/flip/data.js"></script>
<script type="text/javascript" src="/script/general/errors.js"></script>
<script type="text/javascript" src="/script/flip/recover.js"></script>
<script type="text/javascript" src="/script/flip/saveButtons.js"></script>
<script type="text/javascript" src="/script/flip/saveForms.js"></script>
<script type="text/javascript" src="/script/flip/printer.js"></script>
<script type="text/javascript" src="/script/flip/canvas.js"></script>
<script type="text/javascript" src="/script/flip/book.js"></script>
<script type="text/javascript" src="/script/flip/page.js"></script>
<script type="text/javascript" src="/script/flip/pages.Collection.js"></script>
<script type="text/javascript" src="/script/flip/tool.js"></script>
<script type="text/javascript" src="/script/flip/toolSettingsContainer.js"></script>
<script type="text/javascript" src="/script/flip/toolSettingsSlider.js"></script>
<script type="text/javascript" src="/script/flip/pencil.js"></script>
<script type="text/javascript" src="/script/flip/transform.js"></script>
<script type="text/javascript" src="/script/flip/eraser.js"></script>
<script type="text/javascript" src="/script/flip/translate.js"></script>
<script type="text/javascript" src="/script/flip/scale.js"></script>
<script type="text/javascript" src="/script/flip/rotate.js"></script>
<script type="text/javascript" src="/script/flip/stretch.js"></script>
<script type="text/javascript" src="/script/flip/push.js"></script>
<script type="text/javascript" src="/script/flip/blank.js"></script>
<script type="text/javascript" src="/script/flip/duplicate.js"></script>
<script type="text/javascript" src="/script/flip/delete_page.js"></script>
<script type="text/javascript" src="/script/flip/play.js"></script>
<script type="text/javascript" src="/script/flip/circleplay.js"></script>

<!-- general -->
<script type="text/javascript" src="/script/general/header.js"></script>

<!-- boot -->
<script type="text/javascript" src="/script/general/device.js"></script>
<script type="text/javascript" src="/script/general/boot-create.js"></script>

</body>
</html>
