.heading {
	padding: 0 0 1.5em 0;
	min-height: 50px;
	
	img, .profile_pic {
		margin: 0 1em 0 0;
		float: left;
		width: 50px;
		height: 50px;
		background-size: cover;
		background-position: center center;
		border-radius: 100%;
		background-color: $blue;
	}
	
	h1 {
		margin: 0;
		padding: .1em 0 .1em 0;
		color: #444;
	}
	
	h2 {
		margin: 0;
		padding: .1em 0 .1em 0;
		font-size: 2.5em;
		line-height: 1em;
		color: #444;
	}
	
	h3 {
		margin: 0;
		font-size: 1.5em;
		line-height: 1em;
		color: #666;
	}
	
	h2, h3 {
		font-weight: normal;
		padding-left: 60px;
	}
}
	
#memberHeading {
	@extend .cta;
	@include small_cta();
	
	.heading {
		margin-top: 4em;
		padding-bottom: 0;
		
		.profile_pic {
			margin-right: 1.5em;
			width: 75px;
			height: 75px;
		}
		
		h1 {
			margin-top: 0;
			margin-bottom: 0.25em;
			padding-top: 0.3em;
			padding-bottom: 0;
			line-height: 1em;
			position: static;
			
			.settings {
				@extend .button;
				margin-top: 1.7em;
				font-size: .6em;
				float: right;
			}
		}
		
		a {
			margin: 0;
		}
		
		.username {
			color: #444;
		}
		
		a:not(.username), h3 {
			@include sansSerif();
		}
		
		.username {
/* 			color: darken($blue, 40%); */
		}
		
		h3 {
/* 			color: adjust-hue(darken($blue, 20%), -15%); */
		}
	}
}