$cta_yellow: #fff082;
$cta_dark_yellow: #ffe482;

.cta {
	margin: -2em 0 2em 0;
	background: $cta_yellow;
	height: 25em;
	position: relative;
	box-shadow: $cta_dark_yellow 0 -1px 0;
	cursor: pointer;
	border-bottom: $cta_dark_yellow 5px solid;
	overflow: hidden;
	
	.center {
		margin-top: 7.5em;
		position: relative;
	
		h1 {
			margin: 0;
			line-height: 2em;
		}
		
		h1, a {
			margin-left: 75px;
			position: relative;
			z-index: 1;
		}
		
		img {
			position: absolute;
			top: -35px;
			left: -135px;
		}
	}
}

@media screen and (max-width: 1000px) {
	.cta .center:after {
		content: "";
		background: $cta_yellow;
		width: 12em;
		height: 20em;
		display: block;
		position: absolute;
		top: 6em;
		left: -17em;
	}
}

@mixin small_cta() {
	height: 15em;
	
	.center {
		margin-top: 2.5em;
	
		h1, a {
			margin-left: 55px;
		}
	
		img {
			width: 129px;
			height: 142px;
			top: -10px;
			left: -90px;
		}
		
		&:after {
			left: -15em;
		}
	}
}

@media screen and (max-height: $largeHeight) {
	.cta {
		@include small_cta();
	}
}

@media screen and (max-width: $mobileWidth) {
	.cta {
		display: none;
	}
}