$icon-spacing: 1px;
$icon-layout: horizontal;
$icon-sprite-dimensions: true;
@import "icon/*.png";
@include all-icon-sprites;

@mixin icon($name, $is_retina) {
	@if $is_retina {
		@extend .icon2x-sprite;
		@extend .icon2x-sprite-size;
	} @else {
		@extend .icon-#{$name};
	}
}

/* RETINA */
@media #{$retina_conds} {
	$icon2x-spacing: 2px;
	$icon2x-layout: horizontal;
	$icon2x-inline: true;
	@import "icon2x/*.png";
	@include all-icon2x-sprites;
	
	.icon2x-sprite-size {
		background-size: image-width(sprite-path($icon2x-sprites))/2;
	}
	
	[class*=icon-] {
		@extend .icon2x-sprite;
		@extend .icon2x-sprite-size;
	}
}