/* ARVO */
@font-face {
    font-family: 'Arvo';
    src: url('type/Arvo-Regular-webfont.eot');
    src: url('type/Arvo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/Arvo-Regular-webfont.svg#ArvoRegular') format('svg'),
         url('type/Arvo-Regular-webfont.woff') format('woff'),
         url('type/Arvo-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}