$blue: #4a7df4;
$green: #d5ff71;
$red: #f54958;

$gray: #666;
$darkGray: #444;
$black: #222;
$lightGray: #ccc;
$lighterGray: #eee;
$white: #fff;

$mobileWidth: 730px;
$largeWidth: 1400px;

$largeHeight: 700px;