@import "compass/utilities/general/clearfix";
@import "compass/css3/user-interface";

@import "type";
@import "variables";
@import "mixins";
@import "icons";

@import "normalize";
@import "header";
@import "input";
@import "create/module";
@import "browse";
@import "like";
@import "report";
@import "home";
@import "profile";
@import "heading";

#debug {
	position: fixed;
	top: 150px;
	left: 10px;
	z-index: 9999;
}

/* GLOBAL / SETUP */

html, body {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: 'Arvo', serif;
	font-size: 10px;
	line-height: 1.5em;
}

body {
	background: #f1f1f1;
}


* {
	-webkit-font-smoothing: antialiased;
}

a {
	color: darken($blue, 15%);
	text-decoration: none;
	
	&:hover {
		text-decoration: underline;
	}
	
	&:visited {
		color: darken($blue, 40%);
	}
}

a.ignoreVisited {
	color: darken($blue, 15%) !important;
}

p {
	@include sansSerif();
	font-size: 1.5em;
	line-height: 1.333em;
	color: #444;
}

h1 {
	font-size: 3em;
	font-weight: normal;
}

.spinner { display: none; }
.loading {
	position: relative;
	
	a {
		color: #666;
		
		&:hover {
			text-decoration: none;
			cursor: default;
		}
	}
	
	.spinner {
		border-radius: 999px;
		border: #666 3px dotted;
		border-width: 0 0 0 3px;
		display: inline-block;
		width: 10px;
		height: 10px;
		position: absolute;
		right: -15px;
		top: 3px;
		@include animation(spin, .6s, linear, 0, infinite, normal);
		display: block;
	}
}

@include keyframes(spin) {
	0% {
		@include transform( rotate(0deg) );
	}
	
	100% {
		@include transform( rotate(360deg) );
	}
}


/* CONTENT */

#content {
	padding-top: 20px;
	width: 100%;
	display: block;
	
	@include legacy-pie-clearfix();
}

.center {
	margin: 0 auto;
	width: 640px;
}

.hidden {
	display: none !important;
}

#contact {
	margin-bottom: 2em;
	text-align: center;
}


@media screen and (max-width: $mobileWidth) {
	.center {
		width: 90%;
	}
}


/* RETINA */
@media #{$retina_conds} {
	#nav li:first-child a {
		background: url(../images/thumbcinema_logo@2x.png) 0px -9px no-repeat;
		background-size: 319px 103px;
		
		img {
			visibility: hidden;
		}
	}
}



// needs to be imported last so it can easily override other styling
@import "create/print";


